<div class="dialog-container">
    <h2 class="text-neon">Configurações 📡</h2>

    <div class="form-group">
        <label>🌐Importar Playlist M3U manualmente</label>
        <div class="input-row-import">
            <input tabindex="0" class="neon-input" [(ngModel)]="m3uUrl"
                placeholder="http://servidor.com/playlist.m3u" />

            <button (click)="importFromUrl()" [disabled]="isLoading">➕
                <span *ngIf="isLoading" class="spinner">⟳</span>
            </button>
        </div>
    </div>

    <div class="text-success">{{this.importSuccess}} </div>
    <div class="text-danger">{{this.importError}} </div>

    <div class="divider"></div>

    <br>


    <div class="form-grid">

        <div class="row">
            <label>TV MAC ID</label>
            <label class="text-danger" for="mc_id">{{config.macId}}</label>
        </div>

        <div class="row">
            <label>Código TV</label>
            <label class="text-danger" for="tv_code">{{config.tvCode}}</label>
        </div>

        <div class="row">
            <label>
                Suporte⭐
            </label>

            <label for="support" class="text-success">
                {{config.phoneNumberSupport}}
            </label>
        </div>
    </div>

    <div class="divider"> </div>
    <br>

    <mat-list>
        <div class="text-success" mat-subheader>Canais Importados</div>
        @for (server of servers; track servers) {
        <mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>{{server}}</div>
            <button (click)="removeServer(server)" matIconButton matListItemMeta>
                <mat-icon class="text-danger">close</mat-icon>
            </button>
        </mat-list-item>
        }
        <div class="divider"> </div>
    </mat-list>


    <div class="actions">
        <button class="ultrix-btn" tabindex="0" (click)="save()">Salvar</button>
        <button class="ultrix-btn secondary" tabindex="0" (click)="close()">Cancelar</button>
    </div>

</div>